install snowpark and connection

install notebook anaconda

In [1]:
from snowflake.snowpark import Session
session = Session.builder.config('local_testing',True).create()

In [2]:
#creating sample data

data = [
    ('DIVYANSH', 'KPMG',26),
    ('PIYUSH', 'INFY',37),
    ('ROHAN', 'TCS',44),
    ('LEO', 'EY',29),
    ('SACHIN', 'IBM',34),
    ('MOHIT', 'IBM',24),
    ('KARAN', 'KPMG',54),        
]
schema = ['Name','Org','Age']

In [3]:
df = session.createDataFrame(data,schema)
df.show()

----------------------------
|"NAME"    |"ORG"  |"AGE"  |
----------------------------
|DIVYANSH  |KPMG   |26     |
|PIYUSH    |INFY   |37     |
|ROHAN     |TCS    |44     |
|LEO       |EY     |29     |
|SACHIN    |IBM    |34     |
|MOHIT     |IBM    |24     |
|KARAN     |KPMG   |54     |
----------------------------

In [4]:
from snowflake.snowpark.functions import col

df.select(df.name,
          df['org'],
          col('age')
          ).show()

----------------------------
|"NAME"    |"ORG"  |"AGE"  |
----------------------------
|DIVYANSH  |KPMG   |26     |
|PIYUSH    |INFY   |37     |
|ROHAN     |TCS    |44     |
|LEO       |EY     |29     |
|SACHIN    |IBM    |34     |
|MOHIT     |IBM    |24     |
|KARAN     |KPMG   |54     |
----------------------------

In [5]:
from snowflake.snowpark.functions import lit
df.withColumn('Gender',lit('NA')).show()

---------------------------------------
|"NAME"    |"ORG"  |"AGE"  |"GENDER"  |
---------------------------------------
|DIVYANSH  |KPMG   |26     |NA        |
|PIYUSH    |INFY   |37     |NA        |
|ROHAN     |TCS    |44     |NA        |
|LEO       |EY     |29     |NA        |
|SACHIN    |IBM    |34     |NA        |
|MOHIT     |IBM    |24     |NA        |
|KARAN     |KPMG   |54     |NA        |
---------------------------------------

In [6]:
df.filter(
    (df.Age > 30 )
      & 
    ( df.Age < 40)
    ).show()

--------------------------
|"NAME"  |"ORG"  |"AGE"  |
--------------------------
|PIYUSH  |INFY   |37     |
|SACHIN  |IBM    |34     |
--------------------------

In [7]:
df.orderBy(df['Age']).show()

----------------------------
|"NAME"    |"ORG"  |"AGE"  |
----------------------------
|MOHIT     |IBM    |24     |
|DIVYANSH  |KPMG   |26     |
|LEO       |EY     |29     |
|SACHIN    |IBM    |34     |
|PIYUSH    |INFY   |37     |
|ROHAN     |TCS    |44     |
|KARAN     |KPMG   |54     |
----------------------------

In [8]:
df.groupBy('Org').agg({'Age':'max'}).show()

----------------------
|"ORG"  |"MAX(AGE)"  |
----------------------
|KPMG   |54          |
|INFY   |37          |
|TCS    |44          |
|EY     |29          |
|IBM    |34          |
----------------------

In [9]:
from snowflake.snowpark.types import StructField, StructType, IntegerType,StringType
session.file.put(local_file_name='Artists.csv',stage_location='@mylocalstage',auto_compress=False)
#df_csv = session.read.options({}).schema(schema=schema).csv('@mylocalstage/Artists.csv')

schema = StructType([
    StructField('Name',StringType(),True),
    StructField('ID',StringType(),True),
    StructField('Gender',StringType(),True),
    StructField('Age',IntegerType(),True),    
    StructField('Country',StringType(),True),
    StructField('Popularity',IntegerType(),True),    
    StructField('Followers',IntegerType(),True),    
    StructField('URI',StringType(),True),    
])

df_csv2 = session.read.options({'skip_header':1,
                                'field_optionally_enclosed_by':'"'}
                                ).schema(schema).csv('@mylocalstage/Artists.csv')
df_csv2.show()

[Local Testing] read file option INFER_SCHEMA is not supported.

----------------------------------------------------------------------------------------------------------------------------------------------
|"NAME"         |"ID"                    |"GENDER"  |"AGE"  |"COUNTRY"  |"POPULARITY"  |"FOLLOWERS"  |"URI"                                  |
----------------------------------------------------------------------------------------------------------------------------------------------
|Drake          |3TVXtAsR1Inumwj472S9r4  |male      |33     |CA         |95            |83298497     |spotify:artist:3TVXtAsR1Inumwj472S9r4  |
|Post Malone    |246dkjvS1zLTtiykXe5h60  |male      |25     |US         |86            |43130108     |spotify:artist:246dkjvS1zLTtiykXe5h60  |
|Ed Sheeran     |6eUKZXaKkcviH0Ku9w2n3V  |male      |29     |GB         |87            |115998928    |spotify:artist:6eUKZXaKkcviH0Ku9w2n3V  |
|J Balvin       |1vyhD5VmyZ7KMfW5gqLgo5  |male      |35     |CO         |83            |38028010     |spotify:artist:1vyhD5VmyZ7KMfW5gqLgo5  |
|Bad Bunny      |4q3ewBCX7sLwd24euuV69X  |male      |26     |PR         |95            |77931484     |spotify:artist:4q3ewBCX7sLwd24euuV69X  |
|Justin Bieber  |1uNFoZAHBGtllmzznpCI3s  |male      |26     |CA         |88            |75112165     |spotify:artist:1uNFoZAHBGtllmzznpCI3s  |
|Ozuna          |1i8SpTcr7yvPOmcqrbnVXY  |male      |28     |PR         |84            |38192380     |spotify:artist:1i8SpTcr7yvPOmcqrbnVXY  |
|Ariana Grande  |66CXWjxzNUsdJxJ2JdwvnR  |female    |27     |US         |88            |95710972     |spotify:artist:66CXWjxzNUsdJxJ2JdwvnR  |
|Khalid         |6LuN9FCkKOj5PcnpouEgny  |male      |22     |US         |81            |16282583     |spotify:artist:6LuN9FCkKOj5PcnpouEgny  |
|Daddy Yankee   |4VMYDCV2IEDYJArk749S6m  |male      |43     |PR         |84            |34243502     |spotify:artist:4VMYDCV2IEDYJArk749S6m  |
----------------------------------------------------------------------------------------------------------------------------------------------

c:\Users\divya\anaconda3\envs\py310_env\lib\site-packages\snowflake\snowpark\mock\_file_operation.py:175: ParserWarning: Both a converter and dtype were specified for column None - only the converter will be used.
  df = pd.read_csv(

In [12]:
df_csv2.withColumnRenamed('Name','Artist Name').withColumnRenamed('ID','U_ID').show()

[Local Testing] read file option INFER_SCHEMA is not supported.
c:\Users\divya\anaconda3\envs\py310_env\lib\site-packages\snowflake\snowpark\mock\_file_operation.py:175: ParserWarning: Both a converter and dtype were specified for column None - only the converter will be used.
  df = pd.read_csv(
[Local Testing] read file option INFER_SCHEMA is not supported.
c:\Users\divya\anaconda3\envs\py310_env\lib\site-packages\snowflake\snowpark\mock\_file_operation.py:175: ParserWarning: Both a converter and dtype were specified for column None - only the converter will be used.
  df = pd.read_csv(
[Local Testing] read file option INFER_SCHEMA is not supported.

----------------------------------------------------------------------------------------------------------------------------------------------
|"Artist Name"  |"U_ID"                  |"GENDER"  |"AGE"  |"COUNTRY"  |"POPULARITY"  |"FOLLOWERS"  |"URI"                                  |
----------------------------------------------------------------------------------------------------------------------------------------------
|Drake          |3TVXtAsR1Inumwj472S9r4  |male      |33     |CA         |95            |83298497     |spotify:artist:3TVXtAsR1Inumwj472S9r4  |
|Post Malone    |246dkjvS1zLTtiykXe5h60  |male      |25     |US         |86            |43130108     |spotify:artist:246dkjvS1zLTtiykXe5h60  |
|Ed Sheeran     |6eUKZXaKkcviH0Ku9w2n3V  |male      |29     |GB         |87            |115998928    |spotify:artist:6eUKZXaKkcviH0Ku9w2n3V  |
|J Balvin       |1vyhD5VmyZ7KMfW5gqLgo5  |male      |35     |CO         |83            |38028010     |spotify:artist:1vyhD5VmyZ7KMfW5gqLgo5  |
|Bad Bunny      |4q3ewBCX7sLwd24euuV69X  |male      |26     |PR         |95            |77931484     |spotify:artist:4q3ewBCX7sLwd24euuV69X  |
|Justin Bieber  |1uNFoZAHBGtllmzznpCI3s  |male      |26     |CA         |88            |75112165     |spotify:artist:1uNFoZAHBGtllmzznpCI3s  |
|Ozuna          |1i8SpTcr7yvPOmcqrbnVXY  |male      |28     |PR         |84            |38192380     |spotify:artist:1i8SpTcr7yvPOmcqrbnVXY  |
|Ariana Grande  |66CXWjxzNUsdJxJ2JdwvnR  |female    |27     |US         |88            |95710972     |spotify:artist:66CXWjxzNUsdJxJ2JdwvnR  |
|Khalid         |6LuN9FCkKOj5PcnpouEgny  |male      |22     |US         |81            |16282583     |spotify:artist:6LuN9FCkKOj5PcnpouEgny  |
|Daddy Yankee   |4VMYDCV2IEDYJArk749S6m  |male      |43     |PR         |84            |34243502     |spotify:artist:4VMYDCV2IEDYJArk749S6m  |
----------------------------------------------------------------------------------------------------------------------------------------------

c:\Users\divya\anaconda3\envs\py310_env\lib\site-packages\snowflake\snowpark\mock\_file_operation.py:175: ParserWarning: Both a converter and dtype were specified for column None - only the converter will be used.
  df = pd.read_csv(

In [13]:
df_csv2.drop("URI").show()

[Local Testing] read file option INFER_SCHEMA is not supported.

------------------------------------------------------------------------------------------------------
|"NAME"         |"ID"                    |"GENDER"  |"AGE"  |"COUNTRY"  |"POPULARITY"  |"FOLLOWERS"  |
------------------------------------------------------------------------------------------------------
|Drake          |3TVXtAsR1Inumwj472S9r4  |male      |33     |CA         |95            |83298497     |
|Post Malone    |246dkjvS1zLTtiykXe5h60  |male      |25     |US         |86            |43130108     |
|Ed Sheeran     |6eUKZXaKkcviH0Ku9w2n3V  |male      |29     |GB         |87            |115998928    |
|J Balvin       |1vyhD5VmyZ7KMfW5gqLgo5  |male      |35     |CO         |83            |38028010     |
|Bad Bunny      |4q3ewBCX7sLwd24euuV69X  |male      |26     |PR         |95            |77931484     |
|Justin Bieber  |1uNFoZAHBGtllmzznpCI3s  |male      |26     |CA         |88            |75112165     |
|Ozuna          |1i8SpTcr7yvPOmcqrbnVXY  |male      |28     |PR         |84            |38192380     |
|Ariana Grande  |66CXWjxzNUsdJxJ2JdwvnR  |female    |27     |US         |88            |95710972     |
|Khalid         |6LuN9FCkKOj5PcnpouEgny  |male      |22     |US         |81            |16282583     |
|Daddy Yankee   |4VMYDCV2IEDYJArk749S6m  |male      |43     |PR         |84            |34243502     |
------------------------------------------------------------------------------------------------------

c:\Users\divya\anaconda3\envs\py310_env\lib\site-packages\snowflake\snowpark\mock\_file_operation.py:175: ParserWarning: Both a converter and dtype were specified for column None - only the converter will be used.
  df = pd.read_csv(

In [14]:
df_csv2.filter(df_csv2.Age.isNull()).count()

[Local Testing] read file option INFER_SCHEMA is not supported.
c:\Users\divya\anaconda3\envs\py310_env\lib\site-packages\snowflake\snowpark\mock\_file_operation.py:175: ParserWarning: Both a converter and dtype were specified for column None - only the converter will be used.
  df = pd.read_csv(

0

In [19]:
# Currently Session.sql is not supported
df_csv2.createOrReplaceTempView('temp_data')
session.sql('select * from temp_data').show()

[Local Testing] read file option INFER_SCHEMA is not supported.
c:\Users\divya\anaconda3\envs\py310_env\lib\site-packages\snowflake\snowpark\mock\_file_operation.py:175: ParserWarning: Both a converter and dtype were specified for column None - only the converter will be used.
  df = pd.read_csv(

NotImplementedError: [Local Testing] `Session.sql` is currently not supported.

In [34]:
#You cannot join a DataFrame with itself because the column references cannot
# be resolved correctly.
#df_join = df_csv2.join(df_csv2, df_csv2["ID"] == df_csv2["ID"], "inner")

from copy import copy
df_csv3 =  copy(df_csv2)
df_join = df_csv2.join(df_csv3, df_csv2["ID"] == df_csv3["ID"], "inner")
df_join.show()

[Local Testing] read file option INFER_SCHEMA is not supported.
c:\Users\divya\anaconda3\envs\py310_env\lib\site-packages\snowflake\snowpark\mock\_file_operation.py:175: ParserWarning: Both a converter and dtype were specified for column None - only the converter will be used.
  df = pd.read_csv(
[Local Testing] read file option INFER_SCHEMA is not supported.

-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|"l_fghf_NAME"  |"l_fghf_ID"             |"l_fghf_GENDER"  |"l_fghf_AGE"  |"l_fghf_COUNTRY"  |"l_fghf_POPULARITY"  |"l_fghf_FOLLOWERS"  |"l_fghf_URI"                           |"r_5m1p_NAME"  |"r_5m1p_ID"             |"r_5m1p_GENDER"  |"r_5m1p_AGE"  |"r_5m1p_COUNTRY"  |"r_5m1p_POPULARITY"  |"r_5m1p_FOLLOWERS"  |"r_5m1p_URI"                           |
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|Drake          |3TVXtAsR1Inumwj472S9r4  |male             |33            |CA                |95                   |83298497            |spotify:artist:3TVXtAsR1Inumwj472S9r4  |Drake          |3TVXtAsR1Inumwj472S9r4  |male             |33            |CA                |95                   |83298497            |spotify:artist:3TVXtAsR1Inumwj472S9r4  |
|Post Malone    |246dkjvS1zLTtiykXe5h60  |male             |25            |US                |86                   |43130108            |spotify:artist:246dkjvS1zLTtiykXe5h60  |Post Malone    |246dkjvS1zLTtiykXe5h60  |male             |25            |US                |86                   |43130108            |spotify:artist:246dkjvS1zLTtiykXe5h60  |
|Ed Sheeran     |6eUKZXaKkcviH0Ku9w2n3V  |male             |29            |GB                |87                   |115998928           |spotify:artist:6eUKZXaKkcviH0Ku9w2n3V  |Ed Sheeran     |6eUKZXaKkcviH0Ku9w2n3V  |male             |29            |GB                |87                   |115998928           |spotify:artist:6eUKZXaKkcviH0Ku9w2n3V  |
|J Balvin       |1vyhD5VmyZ7KMfW5gqLgo5  |male             |35            |CO                |83                   |38028010            |spotify:artist:1vyhD5VmyZ7KMfW5gqLgo5  |J Balvin       |1vyhD5VmyZ7KMfW5gqLgo5  |male             |35            |CO                |83                   |38028010            |spotify:artist:1vyhD5VmyZ7KMfW5gqLgo5  |
|Bad Bunny      |4q3ewBCX7sLwd24euuV69X  |male             |26            |PR                |95                   |77931484            |spotify:artist:4q3ewBCX7sLwd24euuV69X  |Bad Bunny      |4q3ewBCX7sLwd24euuV69X  |male             |26            |PR                |95                   |77931484            |spotify:artist:4q3ewBCX7sLwd24euuV69X  |
|Justin Bieber  |1uNFoZAHBGtllmzznpCI3s  |male             |26            |CA                |88                   |75112165            |spotify:artist:1uNFoZAHBGtllmzznpCI3s  |Justin Bieber  |1uNFoZAHBGtllmzznpCI3s  |male             |26            |CA                |88                   |75112165            |spotify:artist:1uNFoZAHBGtllmzznpCI3s  |
|Ozuna          |1i8SpTcr7yvPOmcqrbnVXY  |male             |28            |PR                |84                   |38192380            |spotify:artist:1i8SpTcr7yvPOmcqrbnVXY  |Ozuna          |1i8SpTcr7yvPOmcqrbnVXY  |male             |28            |PR                |84                   |38192380            |spotify:artist:1i8SpTcr7yvPOmcqrbnVXY  |
|Ariana Grande  |66CXWjxzNUsdJxJ2JdwvnR  |female           |27            |US                |88                   |95710972            |spotify:artist:66CXWjxzNUsdJxJ2JdwvnR  |Ariana Grande  |66CXWjxzNUsdJxJ2JdwvnR  |female           |27            |US                |88                   |95710972            |spotify:artist:66CXWjxzNUsdJxJ2JdwvnR  |
|Khalid         |6LuN9FCkKOj5PcnpouEgny  |male             |22            |US                |81                   |16282583            |spotify:artist:6LuN9FCkKOj5PcnpouEgny  |Khalid         |6LuN9FCkKOj5PcnpouEgny  |male             |22            |US                |81                   |16282583            |spotify:artist:6LuN9FCkKOj5PcnpouEgny  |
|Daddy Yankee   |4VMYDCV2IEDYJArk749S6m  |male             |43            |PR                |84                   |34243502            |spotify:artist:4VMYDCV2IEDYJArk749S6m  |Daddy Yankee   |4VMYDCV2IEDYJArk749S6m  |male             |43            |PR                |84                   |34243502            |spotify:artist:4VMYDCV2IEDYJArk749S6m  |
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

c:\Users\divya\anaconda3\envs\py310_env\lib\site-packages\snowflake\snowpark\mock\_file_operation.py:175: ParserWarning: Both a converter and dtype were specified for column None - only the converter will be used.
  df = pd.read_csv(

In [38]:
df_csv3.union(df_csv2).count()

[Local Testing] read file option INFER_SCHEMA is not supported.
c:\Users\divya\anaconda3\envs\py310_env\lib\site-packages\snowflake\snowpark\mock\_file_operation.py:175: ParserWarning: Both a converter and dtype were specified for column None - only the converter will be used.
  df = pd.read_csv(
[Local Testing] read file option INFER_SCHEMA is not supported.
c:\Users\divya\anaconda3\envs\py310_env\lib\site-packages\snowflake\snowpark\mock\_file_operation.py:175: ParserWarning: Both a converter and dtype were specified for column None - only the converter will be used.
  df = pd.read_csv(

98